*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 30px 0;
}

#imageJCB {
  display: flex;
  justify-content: space-around;
}

.fadeImages {
  width: 300px;
  height: 300px;
  display: inline-block;
  opacity: 0;
}

.imageFadeOne {
  transition: opacity 1000ms ease 1s;
}

.imageFadeTwo {
  transition: opacity 1000ms ease 1.5s;
}

.imageFadeThree {
  transition: opacity 1000ms ease 2s;
}

.showImage {
  opacity: 1;
}
.info-box {
  background-color: rgba(244, 164, 13, 0.75);
  color: #707070;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 1em;
}

.info-box p {
  max-width: 50%;
  line-height: 1.6rem;
  text-align: center;
}

button {
  background: none;
  border: none;
  font-size: 3rem;
  color: #707070;
  cursor: pointer;
}

.my-foldout-text {
  height: 0px;
  overflow: hidden;
  transition: height 500ms ease;
}

.show-foldout {
  height: 80px;
}

footer > .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 390px) {
  #imageJCB {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .fadeImages {
    margin: auto;
  }

  footer > .container {
    display: unset;
    text-align: center;
  }
  p {
    padding-bottom: 20px;
  }
}
